<html>
<head>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body class="flex flex-col justify-center items-center h-screen w-screen">
    <form action="/auth" method="GET">
        <input type="hidden" name="cf-turnstile-response" id="cf-turnstile-response">
        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAx8Hjjc0l14Qawb"></div>
        <!-- <button type="submit">Verify</button> -->
    </form>
</body>
</html>






